@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -7vh;
    min-height: 87vh; 
    padding: 20px;
    box-sizing: border-box;
}

.login-box {
    background-color: #19191a;;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.login-container h2 {
    font-size: 24px;
}

.login-container form {
    margin-top: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
}

.login-container input {
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #4d4b4b; /* Dodana obramówka */
    border-radius: 4px; /* Zaokrąglenie rogów */
    padding: 5px; /* Dodatkowy padding wewnątrz pola wejściowego */
    color: #fff;
}

.login-container button {
    padding: 6px 12px;
    border-radius: 8px;
    border-color: #000000;
    background-color: darkgray;
    color: #333333;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.need-account-text {
    margin-top: 10px;
}

.need-account-text a {
    color: #09bef0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #09bef0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


